node_modules/
.next/
out/
build/
dist/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# database
prisma/dev.db
prisma/dev.db-journal
*.sqlite
*.sqlite-journal

# uploaded files (created at runtime)
public/uploads/

# editor
.idea/
.vscode/
*.swp
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tesseract (downloaded at runtime by tesseract.js)
*.traineddata
.vercel
